/* --- Estilo Geral do Aplicativo --- */

/* Cor de fundo escura para o app inteiro */
.stApp {
    background-color: #7257a5;
    color: white;  /* Cor do texto em branco para contraste */
}

/* --- Barra Lateral (Sidebar) --- */

/* Cor de fundo da Sidebar */
.css-1d391kg {
    color: #9B4DFF;  /* Texto roxo para a Sidebar */
}

/* --- Gráficos --- */

/* Estilo do gráfico de barras */
div.stPlotlyChart {
    border: 2px solid #9B4DFF;  /* Borda roxa nos gráficos */
    border-radius: 40px;
    margin-bottom: 20px;
}